/*
#f5f6c4 - lime green
#464b5b - dark blue
#71918f - dark teal
#bee3db - light teal
#faf9f9 - white
*/

/* global variables
_____________________________________*/
$white: 		#ffffff; // white
$black: 			#222629; // black
$lightGreen: 	#86c232; // lightGreen
$darkGreen:		#61892f; // darkGreen
$lightGrey:		#6b6e70; // lightGrey
$darkGrey: 		#474b4f; // darkGrey



/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css?family=Cardo|Karla');

/* Universal */

* {
	font-family: 'Karla', sans-serif;
}

.karla {
	font-family: 'Karla', sans-serif;
}

.cardo {
	font-family: 'Cardo', serif;
}

body {
	background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
	 font-family: 'Cardo', serif;
	 color: $black;
}

/* Custom Color Classes */
.white {
	color: $white;
}

.lightGreen {
	color: $lightGreen
}

.lightGrey {
	color: $lightGrey;
}

.darkGrey {
	color: $darkGrey;
}

.bold {
	font-weight: bold;
}

.grid-container {
	margin-top: 20vh;
}


/* Buttons and Labels */
.button {
	border-radius: .6rem;
}

.close-button {
	color: $white;
	padding: .2rem .4rem;
}


.label, .button {
	background-color: $lightGreen;
	font-size: 1rem;
}

.button:hover {
	background-color: $lightGrey;
}

.button:focus {
	background-color: $darkGrey;
}

.button:visited {
	background-color: $darkGreen;
}

.button:active {
	background-color: $darkGreen;
}



/* Primary Results Card */

.card-divider {
	background-color: $lightGrey;
}

.card-section, .reveal {
	background: $black;
	color: $white;
}

.results {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 1rem;
}

.results {
	span {
		color: $lightGreen;
	}
}

/* Modal */

.rightModalSection {
	margin-left: auto;
	text-align: right;
}

#googleMap {
	grid-column: 1/3;
}

#map {
	height: 14rem;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}

#attendee, #rsvp {
	margin-top: 1rem;
}

#mapsss {
	height: 300px;
	width: 600px;
}


/* Media Queries */

@media (max-width: 40em) {
	.results {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	.rightModalSection {
		margin-left: 0;
		text-align: left;
	}
	
	.openModal {
		width: 100%;
	}
}
