/*
#f5f6c4 - lime green
#464b5b - dark blue
#71918f - dark teal
#bee3db - light teal
#faf9f9 - white
*/

/* global variables
_____________________________________*/

$cream : #f5f6c4;
$darkBlue: #464B5B;
$darkTeal: #71918f;
$lightTeal: #bee3db;
$white: #faf9f9;


body {
	color: $darkBlue;
}